@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

.root {
    --brown: #653921;
    --orange: #E46F20;
    --green: #737E6F;
    --charcoal: #3C3C3C;



    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", sans-serif;
    background-color: #FFF8F2;
    scroll-behavior: smooth;

}

h1, h2, h3 {
    font-family: "Jua", sans-serif;
}


h1 {
    color: white;
    font-size: 56px;
    text-align: center;
}